# liftover code
include MANIFEST.in
include pyproject.toml
include liftover/*.cpp
include liftover/*.py
include liftover/*.pyx
include src/*.h
include src/*.cpp
include src/gzstream/gzstream.C
include src/gzstream/gzstream.h
include src/intervaltree/IntervalTree.h
include src/zlib/*.h
include src/zlib/*.c
